//z-index 1 à 10 => 

// .x-index-10 : mobile
// .x-index-10-m : tablette
// .x-index-10-l : desktop

.x-absolute{
    position: absolute;
}

.x-relative{
    position: relative;
}

@for $i from 1 through 10 {
    .x-index-#{$i}{
        z-index: #{$i};
    }

    // Tablette
    @media screen and (min-width: 768px) {
        .x-index-#{$i}-m{
            z-index: #{$i};
        }
    }

    // Desktop
    @media screen and (min-width: 1024px) {
        .x-index-#{$i}-l{
            z-index: #{$i};
        }
    }
}